{% extends 'ideax/base.html' %}
{% load widget_tweaks i18n %}
{% load staticfiles i18n %}

{%block contextbutton%}
{% endblock %}

{% block content %}

<div class="idea-list-bg">
    <h1 class="display-3">{% trans 'New Dimension' %}</h1>
</div>
<div class="container">
    {% for message in messages %}
    <div class="alert alert-dismissible alert-{% if message.tags == 'error' %}danger{%else%}{{message.tags}}{%endif%}">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ message }}
    </div>
    {% endfor %}

    <form method="post" class="form post-form" action="{% url 'dimension_new' %}" novalidate>
        {% csrf_token %}
        {{ formset.management_form }}

        <div class="form-group{% if form.title.errors %} has-error{% endif %}">
            <label for="{{form.title.id_for_label}}">{{form.title.label}}</label>
            {{ form.title|add_class:'form-control' }}
        </div>

        <div class="form-group{% if form.description.errors %} has-error{% endif %}">
            <label for="{{form.description.id_for_label}}">{{form.description.label}}</label>
            {{ form.description|add_class:'form-control' }}
        </div>

        <div class="form-group{% if form.weight.errors %} has-error{% endif %}">
            <label for="{{form.weight.id_for_label}}">{{form.weight.label}}</label>
            {{ form.weight|add_class:'form-control' }}
        </div>

        <div class="form-group ">
            <label >{{label_criteria}}</label>
            <table class="table table-category">
                <thead>
                    <tr>
                    <th>{% trans 'Description' %}</th>
                    <th>{% trans 'Value' %}</th>
                    <th class="text-center"><i class="fa fa-plus add-table-row" aria-hidden="true"></i>
                    </tr>
                </thead>
                <tbody>
                        {% for form in formset %}
                            <tr class="table-row">
                                <td width="80%" class="table-row-description">         
                                    {{ form.description|add_class:'form-control' }}
                                </td>
                                <td width="10%" class="table-row-value">
                                    {{ form.value|add_class:'form-control' }}
                                </td>
                                <td width="10%" class="text-center">
                                    <button disabled=true type="button" class="delete btn btn-click-del-dimension remove-table-row">
                                    <i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="button-group">
            <a href="{% url 'dimension_list' %}">{% trans 'Return' %}</a>
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
        </div>

    </form>
</div>

<script type='text/javascript' src="{% static '/js/table-dimension-criteria.js' %}"></script>
{% endblock %}