{% load mptt_tags %}
{% load widget_tweaks i18n %}
{% load humanize %}
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="SaveModal" aria-hidden="true" id="mi-modal-save">
    <div class="modal-dialog modal-bg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title" id="LabelModalSave"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-btn-yes-evaluation">{% trans 'Yes' %}</button>
                <button type="button" class="btn btn-primary" id="modal-btn-no">{% trans 'No' %}</button>
            </div>
        </div>
    </div>
</div>

